@import "normalize.css";
:root {
  --primary-color: #fe2c55;
  --default-layout-height: 60px;
  --default-layout-width: 1150px;
  --white: #fff;
  --black: #000;
  --text-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

// font
@font-face {
  font-family: ProximaNova;
  src: url(../../assets/font/Proxima-Nova-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url(../../assets/font/ProximaNova-Semibold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url(../../assets/font/Proxima-Nova-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: Sofiapro;
  src: url(../../assets/font/sofiapro-medium.woff);
  font-weight: 400;
}

@font-face {
  font-family: Sofiapro;
  src: url(../../assets/font/sofiapro-bold.woff2);
  font-weight: 700;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  background-color: transparent;
}
a[href] {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}
// custom tippy theme
.tippy-box[data-theme~="tomato"] {
  background-color: tomato;
  color: yellow;
  font-weight: 600;
}

.tippy-box[data-theme~="tomato"][data-placement^="bottom"]
  > .tippy-arrow::before {
  color: tomato;
  border-top-color: tomato;
}
